/* Общие стили для всех страниц */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Занимает 100% высоты окна просмотра */
    overflow-y: auto; /* Добавляет полосу прокрутки, если контент выходит за пределы экрана */
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #444;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Стили для страницы художника */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}
